<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*"
           Language="1033"
           Manufacturer="Jon Thysell"
           Name="Mzinga"
           UpgradeCode="A8C747E7-2EE7-4224-82C0-25462EF0493C"
           Version="!(bind.FileVersion.MzingaViewerApp)">
    <Package Compressed="yes"
             InstallScope="perMachine"
             InstallerVersion="200"
             Languages="1033" />
    <MajorUpgrade AllowSameVersionUpgrades="yes"
                  DowngradeErrorMessage="A newer version of Mzinga is already installed." />
    <?if $(var.Mzinga.Viewer.Configuration) = "Release"?>
    <MediaTemplate EmbedCab="yes"
                   CompressionLevel="high" />
    <?elseif $(var.Mzinga.Viewer.Configuration) = "Debug"?>
    <MediaTemplate EmbedCab="yes"
                   CompressionLevel="none" />
    <?endif?>
    <Feature Id="MzingaFeature"
             Level="1"
             Title="Mzinga">
      <ComponentRef Id="MzingaViewerApp" />
      <ComponentRef Id="MzingaEngineApp" />
      <ComponentRef Id="MzingaTrainerApp" />
      <ComponentRef Id="MvvmLib" />
      <ComponentRef Id="MvvmExtrasLib" />
      <ComponentRef Id="MvvmPlatformLib" />
      <ComponentRef Id="CommonServiceLocatorLib" />
      <ComponentRef Id="WindowsInteractivityLib" />
    </Feature>
    <Icon Id="icon.ico"
          SourceFile="$(var.Mzinga.Viewer.ProjectDir)\Resources\mzinga.ico" />
    <Property Id="ARPPRODUCTICON"
              Value="icon.ico" />
    <Property Id="ARPHELPLINK"
              Value="http://jonthysell.com" />
    <Property Id="ARPURLINFOABOUT"
              Value="http://jonthysell.com" />
    <PropertyRef Id="WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED" />
    <Condition Message="This application requires .NET Framework 4.6. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_46_OR_LATER_INSTALLED]]>
    </Condition>
    <Property Id="WixShellExecTarget"
              Value="[#MzingaViewerApp]" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
              Value="Start Mzinga" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX"
              Value="1" />
    <CustomAction Directory="INSTALLFOLDER"
                  ExeCommand="[#MzingaViewerApp]"
                  Id="LaunchApplication"
                  Impersonate="yes"
                  Return="asyncNoWait" />
    <UI>
      <UIRef Id="WixUI_Minimal" />
      <Publish Control="Finish"
               Dialog="ExitDialog"
               Event="DoAction"
               Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <InstallExecuteSequence>
      <Custom Action="LaunchApplication"
              After="InstallFinalize">UILevel = 3 and NOT Installed</Custom>
    </InstallExecuteSequence>
    <WixVariable Id="WixUILicenseRtf"
                 Value="license.rtf" />
  </Product>
  <Fragment>
    <Directory Id="TARGETDIR"
               Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER"
                   Name="Mzinga">
          <Component Id="MzingaViewerApp">
            <File Id="MzingaViewerApp"
                  KeyPath="yes"
                  Source="$(var.Mzinga.Viewer.TargetPath)">
              <Shortcut Advertise="yes"
                        Description="AI player for the board game Hive."
                        Directory="ProgramMenuFolder"
                        Icon="icon.ico"
                        Id="MzingaViewerAppShortcut"
                        Name="Mzinga"
                        WorkingDirectory="INSTALLFOLDER" />
            </File>
            <File Id="MzingaReadme"
                  Source="$(var.Mzinga.Viewer.TargetDir)\Readme.txt" />
            <File Id="MzingaLicense"
                  Source="$(var.Mzinga.Viewer.TargetDir)\License.txt" />
            <RemoveFolder Id="ApplicationProgramsFolder"
                          On="uninstall" />
          </Component>
          <Component Id="MzingaEngineApp">
            <File Id="MzingaEngineApp"
                  Source="$(var.Mzinga.Engine.TargetPath)" />
          </Component>
          <Component Id="MzingaTrainerApp">
            <File Id="MzingaTrainerApp"
                  Source="$(var.Mzinga.Trainer.TargetPath)" />
          </Component>
          <Component Id="MvvmLib">
            <File Id="MvvmLib"
                  KeyPath="yes"
                  Source="$(var.Mzinga.Viewer.TargetDir)\GalaSoft.MvvmLight.dll" />
            <File Id="MvvmLightLicense"
                  Source="$(var.Mzinga.Viewer.TargetDir)\MVVM Light License.txt" />
          </Component>
          <Component Id="MvvmExtrasLib">
            <File Id="MvvmExtrasLib"
                  Source="$(var.Mzinga.Viewer.TargetDir)\GalaSoft.MvvmLight.Extras.dll" />
          </Component>
          <Component Id="MvvmPlatformLib">
            <File Id="MvvmPlatformLib"
                  Source="$(var.Mzinga.Viewer.TargetDir)\GalaSoft.MvvmLight.Platform.dll" />
          </Component>
          <Component Id="CommonServiceLocatorLib">
            <File Id="CommonServiceLocatorLib"
                  Source="$(var.Mzinga.Viewer.TargetDir)\CommonServiceLocator.dll" />
          </Component>
          <Component Id="WindowsInteractivityLib">
            <File Id="WindowsInteractivityLib"
                  Source="$(var.Mzinga.Viewer.TargetDir)\System.Windows.Interactivity.dll" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" />
    </Directory>
  </Fragment>
</Wix>
