name: Pull Request Validation

env:
  BinDir: ./src/Mzinga/bin
  SolutionFile: ./src/Mzinga.sln

on:
  pull_request:
    branches:
      - main

jobs:
  pr_build_and_test:
    name: PR Build and Test
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, Release]
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build Solution
      run: dotnet build -v d --configuration ${{ matrix.configuration }} ${{ env.SolutionFile }}

    - name: Test Solution
      run: dotnet test --configuration ${{ matrix.configuration }} --no-build ${{ env.SolutionFile }}

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name:  ${{ matrix.configuration }}Binaries
        path: ${{ env.BinDir }}/${{ matrix.configuration }}/net6.0
